<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
	<title>DeepNet(Heart)</title>
    
</head>
	<style>
    #main-footer
    {
      color: #FFFFFF;
      font-family: "Segoe UI";
      background: #2B2B2B;
      text-align: center;
      margin-top: 125px;
      padding: 16px;
      bottom: 8px;
    }</style>
<body>
    <header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="/">DeepNet</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="/about">About</a>
          <a class="nav-item nav-link" href="/diabetes">Diabetes</a>
          <a class="nav-item nav-link" href="/heart">Heart</a>
          <a class="nav-item nav-link" href="/covid">Covid</a>
        </div>
      </div>
    </div>
  </nav>
</header>
<div class="container",class="form-group">
        <h2>Details Heart </h2>
    <h2>Welcome</h2>
    <h3>Enter the Following parameters </h3>
  <form action="/result" method="POST">
    <label for="age">Age (in years) ->  </label>
    <input type="text" id="age" name="age">
    <br>

    <label for="sex">Sex->  </label>
    <select id="gender" name="gender">
      <option value="1">Male</option>
      <option value="0">Female</option>
    </select>
    <br>

    <label for="chest pain type">Chest pain type (range 0 to 3) ->  </label>
    <select id="pain" name="pain">
      <option value="0">Low</option>
      <option value="1">Medium</option>
      <option value="2">High</option>
      <option value="3">Very High</option>
    </select><br>

    <label for="trestbps">Resting blood pressure in mmHg ->  </label>
    <input type="text" id="trestbps" name="trestbps">
    <br>

     <label for="serum cholestoral in mg/dl">Serum cholestoral in mg/dl ->  </label>
    <input type="text" id="serum cholestoral in mg/dl" name="serum cholestoral in mg/dl">
    <br>

    <label for="fbs">Fasting blood sugar greater than 120mg/dl ->  </label>
    <select id="fbs" name="fbs">
      <option value="1">True</option>
      <option value="0">False</option>
    </select>
    <br>

    <label for="restecg">Resting electrocardiographic results(0, 1 or 2) ->  </label>
    <select id="restecg" name="restecg">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
    </select>
    <br>

    <label for="thalach">Maximum heart rate achieved ->  </label>
    <input type="text" id="thalach" name="thalach">
    <br>

    <label for="exang">Exercise induced angina(Yes/No) ->  </label>
    <select id="exang" name="exang">
      <option value="1">Yes</option>
      <option value="0">No</option>
    </select>
    <br>

    <label for="oldpeak">ST depression induced by exercise relative to rest ->  </label>
    <input type="text" id="oldpeak" name="oldpeak">
    <br>

    <label for="slope">The slope of the peak exercise ST segment ->  </label>
    <select id="slope" name="slope">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
    </select>
    <br>

    <label for="ca">Number of major vessels(0-3) colored by flourosopy ->  </label>
    <select id="ca" name="ca">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <br>

    <label for="thal">Values at rest of heart rate(3 is normal; 6 is fixed defect; 7 is reversable defect) ->  </label>
    <input type="text" id="thal" name="thal">
    <br>
    <br>

    <input type="submit" value="Submit">
    <input type="reset" value="Reset"><br><br>
</form>


    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		
</body>
</html>
