<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Edge Web Application</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static', filename='materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static', filename='style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  

    
</head>
<body>
  <nav class="teal" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">Edge Web Application</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/diabetes">Diabetes</a></li>
        <li><a href="/heart">Heart</a></li>
        <li><a href="/covid">Covid</a></li>
      </ul>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Disease Prediction</h1>
        <div class="row center">
          <h5 class="header col s12 light">A Disease Prediction Application based upon DeepNet model</h5>
        </div>
        <div class="row center">
          <a href="/about" class="btn-large waves-effect waves-light teal lighten-1">About</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{{ url_for('static', filename='background1.jpg') }}" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Details</h5>

            <p class="light">Welcome to the Home page of the application. This is mainly based on as the application of the deep learning, meant to be employed in the remote areas.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Overview</h5>

            <p class="light">In todays time we see a lot of the shortage of the doctors in the world especially in India. A lot of people are suffering a lot without the help of the proper medical checkup. Also most of the cases many cases arise leading to death due to lack of timely medical checkup. So to cope up with all of those problems this application is designed which would prove its benefits upto much extent.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Application</h5>

            <p class="light"> To remove the dependencies on the doctors.
                              To help out the poor and helpless people with the normal medical checkup.
                              To help people avoid paying huge amount to the doctors unnecessarily.
                              To extend the role of the technology in the medical field</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">DeepNet model is the our approach to clinical healthcare system </h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{{ url_for('static', filename='background2.jpg') }}" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>About Us</h4>
          <p class="left-align light">Our team consists of Kazee Basak, Rajeep Das, Rajarshi Bhattacharya guided by our project guide Dr. Tapalina Bhattasali. This is our MSc project in St. Xaviers College, Kolkata. This project is about using Edge intelligence to detect major diseases like diabetes,heart,covid and can be further extended to include new disease prediction also...</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Edge intelligence is the gateway to the modern approach of AI</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{{ url_for('static', filename='background3.jpg') }}" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Group Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project for our sem 4 exam. </p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="/">Home</a></li>
            <li><a class="white-text" href="/about">About</a></li>
            <li><a class="white-text" href="/diabetes">Diabetes</a></li>
            <li><a class="white-text" href="/heart">Heart</a></li>
            <li><a class="white-text" href="/covid">Covid</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" >Group 11 MSC 4th SEM 2021</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ url_for('static', filename='materialize.js') }}"></script>
  <script src="{{ url_for('static', filename='init.js') }}"></script>
  
 
  </body>
</html>
