<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
	<title>covid_pred</title>
    
</head>
	<style>
    #main-footer
    {
      color: #FFFFFF;
      font-family: "Segoe UI";
      background: #2B2B2B;
      text-align: center;
      margin-top: 125px;
      padding: 16px;
      bottom: 8px;
    }</style>
<body>
    <header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="/">Edge Web Application</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="/about">About</a>
          <a class="nav-item nav-link" href="/diabetes">Diabetes</a>
          <a class="nav-item nav-link" href="/heart">Heart</a>
          <a class="nav-item nav-link" href="/covid">Covid</a>
        </div>
      </div>
    </div>
  </nav>
</header>
<div class="container",class="form-group">
        <h2>Details COVID </h2>
    <h2>Welcome</h2>
    <h3>Enter the Following parameters </h3>
  <form action="/result" method="POST">
    <label for="cough">Cough(1 for Yes, 0 for No) ->  </label>
    <select id="cough" name="cough">
      <option value="1">Yes</option>
      <option value="0">No</option>
    </select>
    <br>

    <label for="fever">Fever ->  </label>
    <select id="fever" name="fever">
      <option value="1">Yes</option>
      <option value="0">No</option>
    </select>
    <br>

    <label for="sore_throat">Sore Throat ->  </label>
    <select id="sore_throat" name="sore_throat">
      <option value="1">Yes</option>
      <option value="0">No</option>
    </select>
    <br>

    <label for="short_breath">Shortness of Breath ->  </label>
    <select id="short_breath" name="short_breath">
      <option value="1">Yes</option>
      <option value="0">No</option>
    </select>
    <br>

    <label for="headache">Headache?(1/0) ->  </label>
    <select id="headache" name="headache">
      <option value="1">Yes</option>
      <option value="0">No</option>
    </select>
    <br>

    <label for="age60">Age 60+ or not?(1/0) ->  </label>
    <select id="age60" name="age60">
      <option value="1">Yes</option>
      <option value="0">No</option>
    </select>
    <br>

    <label for="gender">Gender (Male=1; Female=0)</label>
    <select id="gender" name="gender">
      <option value="1">Male</option>
      <option value="0">Female</option>
    </select>
    <br>

    <label for="contact">Contact with confirmed cases</label>
    <select id="contact" name="contact">
      <option value="1">Yes</option>
      <option value="0">No</option>
    </select>
    <br>

    <input type="hidden" id="extra" name="extra" value="0">
    <br>
    <br>

    <input type="submit" value="Submit">
    <input type="reset" value="Reset"><br><br>
</form>


    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		
</body>
